*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('aboutpageimg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}
.mydiv{
    height: 400px;
    width: 500px;
    color: white;
    border: 4px black solid;
 border-radius: 5px 30px 5px 30px;
    background-color: brown;
    margin: 0 auto;
    margin-top: 100px;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
    text-shadow: 5px 5px 10px white;
}